img#geo {
    position: absolute;
    left: calc(-1000px + 50vw);
    top: 200px;
}

div#tagline-read {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 300px;
    top: 300px;
}

p#tagline {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-style: italic;
}

a#read {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    color: #e8e9ea;
    background-color: #7253cb;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
